<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>

    <add key="ConnectionString1" value="server=59.78.151.121,9433;uid=sa_GP;pwd=a1b2c3;database=General_Platform" />
    <add key="ConnectionString1Oracle" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=202.121.48.120)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oracle10)));User Id=IDC_U_RS;Password=oracle;" />
    <add key="ConnectionString2Oracle" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=202.121.48.120)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oracle10)));User Id=IDC_U_COMM;Password=oracle;" />
    <add key="lngMaxFileSize" value="409600000000000" />
    <add key="CurrPrjId" value="0005" />
  </appSettings>
  <connectionStrings>
    <!--井盖管理与统一平台合二为一-->

    <add
  name="ConnectionStringBak22"
  connectionString="server=202.121.63.39,9433;uid=CoversManage;pwd=CoversManage;database=CoversManage;timeout=120"
  providerName="System.Data.SqlClient"  />

    <!--仪器设置二级管理-->
    <add
		  name="ConnectionStringBak19"
		  connectionString="server=202.121.49.27,1433;uid=sa_GP_Dev2;pwd=sa_GP_Dev2;database=GeneralPlatformDev2"
		  providerName="System.Data.SqlClient"  />

    <!--淮阴师范学院-->
    <add
		  name="ConnectionStringBAK32"
		  connectionString="server=202.195.112.201,9433;uid=sa_GPShnu;pwd=a1b2c3;database=GeneralPlatformEduHigh;timeout=120"
		  providerName="System.Data.SqlClient"  />
    <!--教育高地4上海师范大学-->
    <add
		  name="ConnectionStringBak15"
		  connectionString="server=192.168.1.10,9433;uid=EduHigh;pwd=a1b2c3;database=EduHigh_Jsie;Pooling=true; Min Pool Size=150;Max Pool Size=150"
		  providerName="System.Data.SqlClient"  />
  

    <!--泰泽公司自己使用，包括：任务管理系统、泰泽主页-->
    
    <add
		  name="ConnectionStringBak27"
		  connectionString="server=103.116.76.183,9433;uid=sa_GPTZ;pwd=a1b2c3;database=GeneralPlatformTZ;timeout=120"
		  providerName="System.Data.SqlClient"  />
	  
	  <!--泰泽公司自己使用，包括：任务管理系统、泰泽主页-->

	  <add	
			name="ConnectionStringBak40"
			connectionString="server=192.168.1.10,9433;uid=sa_GPTZ;pwd=a1b2c3;database=GeneralPlatformTZ;Pooling=true; Min Pool Size=150;Max Pool Size=150"
			providerName="System.Data.SqlClient"  />
	  
	  <!--江苏二师-->
    <!--<add
	   name="ConnectionStringBak13"
	   connectionString="server=202.121.63.17,9433;uid=sa_GPJsie;pwd=sa_GPJsie;database=GeneralPlatformJsie;timeout=120"
	   providerName="System.Data.SqlClient"  />-->

    <!--江苏二师测试-教育高地+统一平台-->
    <add
 name="ConnectionString"
 connectionString="server=103.116.76.183,9433;uid=EduHigh;pwd=a1b2c3;database=EduHigh_Jsie;Pooling=true; Min Pool Size=150;Max Pool Size=150;"
 providerName="System.Data.SqlClient" />

    <!--江苏二师测试-教育高地+统一平台-->
    <add
 name="ConnectionStringBak29"
 connectionString="server=202.121.63.42,9433;uid=EduHigh1;pwd=a1b2c3@1;database=EduHigh_Jsie;Pooling=true; Min Pool Size=150;Max Pool Size=150;"
 providerName="System.Data.SqlClient" />

    <!--自动生成代码+统一平台-->
    <add
name="ConnectionStringBak26"
connectionString="server=103.116.76.183,9433;uid=agccs;pwd=a1b2c3@tz4300;database=AGC_CS12;Pooling=true; Min Pool Size=150;Max Pool Size=150;"
providerName="System.Data.SqlClient"  />
    <!--上海师大二附中+统一平台-->
    <add
name="ConnectionStringBak39"
connectionString="server=103.116.76.183,9433;uid=MSEduSys;pwd=MSEduSys;database=MSEduSys;Pooling=true; Min Pool Size=150;Max Pool Size=150;"
providerName="System.Data.SqlClient"  />
    <!--上海师大二附中+统一平台-->
    <add
name="ConnectionStringBak25"
connectionString="server=103.116.76.183,9433;uid=EduHigh;pwd=EduHigh;database=EduHigh_Nbu;Pooling=true; Min Pool Size=150;Max Pool Size=150;"
providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
  </system.web>
</configuration>
