<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="vClassRoomServiceSoap"/>
                <binding name="UserStateServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SimplePrj/WebService/BaseInfo/vClassRoomService.asmx" binding="basicHttpBinding" bindingConfiguration="vClassRoomServiceSoap" contract="ServiceReferencevClassRoom.vClassRoomServiceSoap" name="vClassRoomServiceSoap"/>
            <endpoint address="http://localhost/SimplePrj/WebService/BaseInfo/UserStateService.asmx" binding="basicHttpBinding" bindingConfiguration="UserStateServiceSoap" contract="ServiceReferenceUserState.UserStateServiceSoap" name="UserStateServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
