.p-prev {
    min-width: 40px;
    height: 20px;
    text-decoration: none;
    color: #666666;

    a {
        float: left;
        margin-left: 2px;
        padding: 0 0 0 2px;
        background: no-repeat left top;
        text-decoration: none;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-style: solid;
        min-width: 40px;
        color: #666666;
    }
}
