<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SPJumpWebSite" value="http://180.153.158.158/GP/"/>
    <add key="SamXlsFileName" value="ExcelSam2003.xls"/>
    <add key="UserPrjId" value="0150"/>
    <!-- 用户类型有：高校（University)、中小学(MiddleSchool)、医院(Hospital)、企业(Enterprise) -->
    <add key="IsDebug4PubDatabase" value="True"/>
    <add key="LogDir4Debug" value="D:\Log4GP\"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>