<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>

		<add key="lngMaxFileSize" value="409600000000000" />
		<add key="CurrPrjId" value="0005" />
	</appSettings>
	<connectionStrings>
    <!--江苏二师-->
    <add
  name="ConnectionStringBak12"
  connectionString="server=202.121.63.39,9433;uid=sa_GPJsie;pwd=sa_GPJsie;database=GeneralPlatformJsie;timeout=120"
  providerName="System.Data.SqlClient"  />
    
		<add
		  name="ConnectionStringBak"
		  connectionString="server=.;uid=sa_GPTZ;pwd=sa;database=GeneralPlatformTZ"
		  providerName="System.Data.SqlClient"  />
		<!--OA办公自动化系统-->
		<add
		  name="ConnectionStringBak5"
		  connectionString="server=202.121.63.174,9433;uid=sa_GPOA;pwd=mm1234;database=GeneralPlatformOA"
		  providerName="System.Data.SqlClient"  />
		<!--科研管理系统、房屋管理系统、钢琴管理系统、管线管理系统-->
		<add
		  name="ConnectionStringBak4"
		  connectionString="server=202.121.63.25,9433;uid=sa_GPShnu;pwd=a1b2c3;database=GeneralPlatformShnu"
		  providerName="System.Data.SqlClient"  />
    <add
          name="ConnectionStringBak7"
          connectionString="server=210.35.112.3,1433;uid=sa_GP_DH;pwd=a1b2c3;database=GeneralPlatformDH"
          providerName="System.Data.SqlClient"  />
		<!--科研管理系统、房屋管理系统、钢琴管理系统、管线管理系统-->
		<add
		  name="ConnectionStringBak8"
		  connectionString="server=202.121.63.41,9433;uid=sa_GP_SHZ;pwd=shz;database=GeneralPlatformSHZ"
		  providerName="System.Data.SqlClient"  />

		<!--教育高地-->
		<add
		  name="ConnectionStringBAK2"
		  connectionString="server=202.121.63.25,9433;uid=sa_GPEduHigh;pwd=a1b2c3;database=GeneralPlatformEduHigh;timeout=120"
		  providerName="System.Data.SqlClient"  />

		<!--教务处统一平台-->
		<add
		name="ConnectionStringBak1"
		  connectionString="server=202.121.48.248,9433;uid=sa_GP;pwd=a1b2c3;database=QuaEduLecAd_GP;timeout=120"
		  providerName="System.Data.SqlClient"  />
		<!--人事考核系统-->
		<add
	   name="ConnectionStringBak6"
	   connectionString="server=202.121.63.17,9433;uid=sa_GP;pwd=a1b2c3;database=General_Platform;timeout=120"
	   providerName="System.Data.SqlClient"  />
		<!--泰泽公司自己使用，包括：任务管理系统、泰泽主页-->
		<add
		  name="ConnectionStringBak10"
		  connectionString="server=202.121.63.17,9433;uid=sa_GPTZ;pwd=a1b2c3;database=GeneralPlatformTZ;timeout=120"
		  providerName="System.Data.SqlClient"  />
    <add
		  name="ConnectionString"
		  connectionString="server=202.195.112.201,9433;uid=sa_GPShnu;pwd=a1b2c3;database=GeneralPlatformEduHigh;timeout=120"
		  providerName="System.Data.SqlClient"  />
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
	</system.web>
</configuration>
